---
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
---

<section class="banner bg-banner relative">
  <div class="py-8 md:py-20 bg-stone-950/20 backdrop-blur-md">
    <div class="container">
      <div class="row items-center mt-10 mb-5">
        <div class="text-center">
          <h1 class="banner-title text-white">Lowongan Kerja Bali 2025</h1>

          <p class="text-white">
            Temukan lowongan kerja yang sesuai dengan skill yang kamu punya.
          </p>
          <a class="btn btn-white mt-8" href="/lowongan"> Cari </a>
        </div>
      </div>
    </div>
  </div>
</section>
