---
import { getCollection } from "astro:content";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";

const allPosts = await getCollection("blog");
const categories = [...new Set(allPosts.map((post) => post.data.categories))];
const blogPosts = await getSinglePage("blog");
//console.log(blogPosts[3]);
---

<Base title="Daftar Kategori">
  <section style="background-color: #fffff0;">
    <div class="container py-5">
      <h1 class="text-2xl font-bold mt-5">📁 Semua Kategori</h1>

      {
        allPosts.map((post) => (
          <ul>
            <li>{post.data.title}</li>
          </ul>
        ))
      }

      <h1>
        Judul nya adalah {allPosts[3].data.title}
      </h1>

      <div class="mt-6 grid grid-cols-2 gap-4 mb-5">
        {
          categories.map((category) => (
            <a
              href={`/categories/${category}`}
              class="p-4 border rounded-lg hover:bg-gray-100"
            >
              <h2 class="font-medium"># {category}</h2>
              <p class="text-sm text-gray-600">
                {
                  allPosts.filter((post) => post.data.categories === category)
                    .length
                }{" "}
                artikel
              </p>
            </a>
          ))
        }
      </div>
    </div>
  </section>
</Base>
