html {
  @apply text-base;
}

body {
  @apply bg-body bg-[url('/images/body-bg.png')] bg-repeat font-primary font-normal leading-relaxed text-text overflow-x-hidden;
}


/* Khusus untuk route /blog/* */
[data-page="is-blog"] h1,
[data-page="is-blog"] h2,
[data-page="is-blog"] h3,
[data-page="is-blog"] h4,
[data-page="is-blog"] h5,
[data-page="is-blog"] h6 {
  @apply font-primary font-semibold leading-tight text-text-dark;
}


[data-page="is-lowongan"] h1,
[data-page="is-lowongan"] h2{
  @apply font-primary font-semibold leading-tight text-text-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-secondary font-bold leading-tight text-text-dark;
}

h1,
.h1 {
  @apply text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4;
}

h5,
.h5 {
  @apply text-h5;
}

h6,
.h6 {
  @apply text-h6;
}

b,
strong {
  @apply font-semibold;
}

code {
  @apply after:border-none;
}

/* Khusus color ivory ya pakai #ffbf00 atau #ffff00 */
